@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color:darkslategrey;
    color: whitesmoke;
}

strong {
    color:#FFC300;
}

.titulo-blog {
    font-weight: bold;
    color: #FFC300;
}

p {
    color:whitesmoke;
}

.foto-razif {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
}

.texto-destaque {
    color: #FFC300;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao{
    margin: 0% 15% 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.apresentacao__links__link{
    /* background-color: whitesmoke; */
    width: 250px;
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 0px; 
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    width: 378px;
}

.apresentacao__links__redes {
    color: whitesmoke;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.icones {
    height: 50px;
}